    @{
        ViewData["Title"] = "Home Page";
        Layout = "~/Views/Home/_LayoutHomeIndex.cshtml";
    }
<!DOCTYPE html>
<head>
    <title>Практика ТК</title>
    
</head>
<body>
    <div class="jumbotron">
        <h1>Практика ТК 2017</h1>
        <p>Спроба створення кібер-фізичних систем</p>
    </div>
</body>
</html>

