 body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


  ul.nav-pills {
      top: 20px;
      position: fixed;
  }
  div.col-sm-9 div {
      height: 250px;
      font-size: 28px;
  }
  #section1 {color: #fff; background-color: #1E88E5;}
#section2 {
    color: #fff;
    background-color: #673ab7;
    
  }
#section3 {
    color: #fff;
    background-color: #1E88E5;
     
  }
#section4 {
    color: #fff;
    background-color: #673ab7;
    
  }

#section5 {
    color: #fff;
    background-color: #1E88E5;
}

  @media screen and (max-width: 810px) {
    #section1, #section2, #section3, #section4, #section5{
        margin-left: 150px;
    }
  }
