body {
    padding-top: 50px;
    padding-bottom: 20px;
}

table{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
}

input {
    max-width: 680px;
    width: 70%;
    font-size: 20px;
    line-height: 1.4;
}

th {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}

td {
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
}

tr:hover td {
    color: #6699ff;
}

